/*-_____ Basic top-level styles _____-*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: .9em;
}

#wrapper {
	width: 70%;
	margin: 20px auto;
}

.wrapper-bottom {
	width: 100%;
	min-height: 400px;
	margin: 10px 0;
}

label {
	display: block;
}

input {
	margin: 5px;
}

select {
	margin: 5px;
	margin-bottom: 10px;
}

a:visited {
	color: blue;
}

.current,
.current:visited {
	color: #000;
	text-decoration: none;
}

.filter-button {
	display: block;
	margin: 100px auto 15px;
	width: 100px;
	font-size: 1.2em;
	border: 2px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*-_____ Div styles: children of div #wrapper; _____-*/

/* "main-header" ---------*/

.main-header {
	height: 75px;
	width: 100%;
	padding: 0;
	clear: both;
	background: #ffb4b0;
	border: 2px solid #000;
}

.main-header p {
	margin: 29.3px;   /* Container height = 75px - 2px [border] = 73px | 73px - 14.4px [content height] = 58.6 | 58.6 / 2 = 29.3px */
}										/* font-size [inherited from <body>] 16px * .9 = 14.4px */

/* "options" ----------*/

.options {
	width: 24%;
	height: 100%;
	min-height: 400px;
	padding: 10px;
	float: left;
	display: inline-block;
	background: #4dd7fa;
	border: 2px solid #000;
}

/* "playlist" ----------*/

.playlist {
	width: 74%;
	height: 100%;
	min-height: 400px;
	padding: 0;
	float: right;
	background: #fefac0;
	border: 2px solid #000;
}

.playlist p {
	display: inline;
}

.song {
	display: block;
	margin: 20px;
}

.song-title {
	display: block;
	font-size: 1.3em;
	margin-bottom: 5px;
	color: #785616;
	padding: 0;
}

.album-title {
	font-style: italic;
}

.song-print {
	display: inline;
	padding: 0 20px;
	border-right: 2px solid #000;
}

.delete {
	margin: 0 20px;
}

/* "add-container" ----------*/

.add-container {
	width: 100%;
	height: 400px;
	margin: 10px 0;
	border: 2px solid #000;
}

.add-form {
	width: 250px;
	margin: 131.5px auto;
}

.input-pair {
	display: block;
}

.input-pair label {
	float: left;
}

.input-pair input {
	float: right;
}

.add-button {
	display: block;
	width: 100px;
	font-size: 1.2em;
	border: 2px solid #000;
	border-radius: 5px;
	cursor: pointer;
	margin: 20px auto;
}


/*-_____ Other descendent class styles _____-*/

/* "named-element" ----------*/

.genre {
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkbox {
	display: block;
	font-size: .7em;
}

.checkbox label {
	display: inline;
}

.col-1 {
	float: left;
	margin: 0;
}

.col-2 {
	float: right;
	margin: 0;
}


/*-_____ Visible/Hidden _____-*/

.visible {
	display: block;
}

.hidden {
	display: none;
}




