/*-_____ Basic top-level styles _____-*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#wrapper {
	width: 70%;
	margin: 20px auto;
}

label {
	display: block;
}

input {
	margin: 5px;
}

/*-_____ Div styles: children of div #wrapper; _____-*/

/* "main-header" ---------*/

.main-header {
	height: 75px;
	width: 100%;
	padding: 0;
	clear: both;
	background: #ffb4b0;
	border: 2px solid #000;
}

.main-header p {
	margin: 29.3px;   /* Container height = 75px - 2px [border] = 73px | 73px - 14.4px [content height] = 58.6 | 58.6 / 2 = 29.3px */
	font-size: .9em;  /* 16px * .9 = 14.4px */
}

/* "select" ----------*/

.select {
	width: 24%;
	height: 400px;
	margin: 10px 0;
	padding: 10px;
	float: left;
	background: #4dd7fa;
	border: 2px solid #000;
	font-size: .9em;
}

/* "playlist" ----------*/

.playlist {
	width: 74%;
	height: 400px;
	margin: 10px 0;
	float: right;
	background: #fefac0;
	border: 2px solid #000;
}


/*-_____ Other descendent class styles _____-*/

/* "named-element" ----------*/

.named-element {

}

.named-element label {
	display: block;
}

.checkbox {
	display: block;
	float: left;
	clear: right;
	font-size: .8em;
}

.checkbox label {
	display: inline;
}

.col-1 {
	float: left;
	clear: right;
}

.col-2 {
	float: right;
	clear: left;
}

.select button {
	clear: both;
}


