/*-_____ Basic top-level styles _____-*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: .9em;
}

#wrapper {
	width: 70%;
	margin: 20px auto;
}

label {
	display: block;
}

input {
	margin: 5px;
}

select {
	margin: 5px;
	margin-bottom: 10px;
}

a:visited {
	color: blue;
}

button {
	display: block;
	margin: 100px auto 15px;
	width: 100px;
	font-size: 1.2em;
	border: 2px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

/*-_____ Div styles: children of div #wrapper; _____-*/

/* "main-header" ---------*/

.main-header {
	height: 75px;
	width: 100%;
	padding: 0;
	clear: both;
	background: #ffb4b0;
	border: 2px solid #000;
}

.main-header p {
	margin: 29.3px;   /* Container height = 75px - 2px [border] = 73px | 73px - 14.4px [content height] = 58.6 | 58.6 / 2 = 29.3px */
}										/* font-size [inherited from <body>] 16px * .9 = 14.4px */

/* "options" ----------*/

.options {
	width: 24%;
	height: 400px;
	margin: 10px 0;
	padding: 10px;
	float: left;
	background: #4dd7fa;
	border: 2px solid #000;
}

/* "playlist" ----------*/

.playlist {
	width: 74%;
	height: 400px;
	margin: 10px 0;
	padding: 0;
	float: right;
	background: #fefac0;
	border: 2px solid #000;
}

.playlist h1 {
	font-weight: normal;
	margin-bottom: 5px;
	color: #785616;
	padding: 0;
}

.playlist p {
	display: inline;
}


/*-_____ Other descendent class styles _____-*/

/* "named-element" ----------*/

.genre {
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkbox {
	display: block;
	font-size: .7em;
}

.checkbox label {
	display: inline;
}

.col-1 {
	float: left;
	margin: 0;
}

.col-2 {
	float: right;
	margin: 0;
}

.song {
	margin: 20px;
}




