/*-_____ Basic top-level styles _____-*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #D1626F;
}

.current,
.current:visited {
	color: #34495e;
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*-_____ Div styles: children of div #wrapper; _____-*/

/* "main-header" ---------*/

.main-header {
	height: 75px;
	padding: 0;
	clear: both;
	background: #ecf0f1;
	border: 2px solid #000;
}

.header-links {
	margin: 20px;
}

/* "options" ----------*/

.options {
	min-height: 500px;
	padding: 10px;
	background: #ecf0f1;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
}

select {
	margin: 5px;
	margin-bottom: 10px;
}

label {
	color: #34495e;
}

input[type="range"] {
	margin-bottom: 10px;
}

.checkbox input[type="checkbox"] {   /* Override Bootstrap checkbox margin-left */
	margin-left: 0;
}

.filter-button {
	margin-top: 30px;
}

/* "playlist" ----------*/

.playlist {
	height: 500px;
	padding: 20px;
	padding-bottom: 30px;
	background: #34495E;
	border: 1px solid #34495e;
	border-radius: 4px;
	margin-right: 0;
}

.table-wrap {
	height: 450px;
	overflow: scroll;
}

.table {
	background: #ecf0f1;
	border-radius: 4px;
}

.album-title {
	font-style: italic;
}

.more-songs {
	display: block;
	clear: both;
	margin: 25px;
}

/* "add-container" ----------*/

.add-container {
	background: #ecf0f1;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	width: 100%;
}

.add-container .row {
	margin: 50px 0;
}

.add-button {
	margin-top: 40px;
}
